# Student Performance Indicator
## Life cycle of a Machine Learning Project

- understanding the problem statement
- data collection
- data checks to perform
- exploratory data analysis (EDA)
- data pre-processing
- model training
- optimal model selection

## 1. Problem Statement

This project understands how a student's performance (test scores) is impacted by other variables such as Gender, Ethnicity, Parental level of education, Lunch, and Test preparation course.

## 2. Data Collection

- dataset source: https://www.kaggle.com/datasets/spscientist/students-performance-in-exams
- the data consists of 8 columns and 1000 rows

## 2.1 Import Data and Requird Packages
### Importing Pandas, Numpy, Matplotlib, Seaborn, and Warnings Library

In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

### Import CSV Data as Pandas DataFrame

In [6]:
df = pd.read_csv('data/student_performance.csv')

### Show Top 5 Records

In [7]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

### Shape of the Dataset

In [9]:
df.shape

(1000, 8)

## Dataset Information

- gender: sex of students -> (Male/Female)
- race/ethnicity: ethnicity of students -> (Group A, B, C, D, E)
- parental level of education: parents' final education -> (bachelor's degree, some college, master's degree, associate's degree, high school)
- lunch: if the student had lunch before the test -> (standard or free/reduced)
- test preparation course: if the student completed the course or not before the test
- math score
- reading score
- writing score

## 3. Data Checks to Perform

- Check for missing values
- Check for duplicates
- Check data type
- Check the number of unique values of each column
- Check statistics of dataset
- Check various categories present in the different categorical columns

### 3.1 Check Missing Values

In [10]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

There are no missing values in the dataset. If we did have missing values, we would use feature engineering to try to fill them in (imputation).

### 3.2 Check Duplicates

In [15]:
df.duplicated().sum()

0

There are no duplicates. If there were, we would use `df.drop_duplicates()`

### 3.3 Check Data Types

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

`.info()` checks for nulls and gives the data type for each column